@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Raphael Nobrega<br />
    Skype: phederalbr<br />
    <abbr title="Phone">P:</abbr>
    519.781.1655
</address>

<address>
    <strong>Email:</strong> <a href="mailto:raphael.mendonca@live.com">raphael.mendonca@live.com</a>
</address>